@model ChatA.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}


<div class="contenedor">
    <h1>Register</h1>
    <hr />
    
    <form asp-action="Register" method="post" enctype="multipart/form-data">
        <div class="contenedor-inner">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label asp-for="UserName" class="control-label"></label>
            </div>
            <div >                
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password" class="control-label"></label>
            </div>            
            <div >                
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="ApellidoyNombre" class="control-label"></label>
            </div>
            <div >                
                <input asp-for="ApellidoyNombre" class="form-control" />
                <span asp-validation-for="ApellidoyNombre" class="text-danger"></span>
            </div>
            
            <div>
                <label asp-for="Nickname" class="control-label"></label>
            </div>
            <div >                
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            
            <div>
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div >                
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>

            </div>
            <div >
                <div class="checkbox">
                    <label>
                        <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
            </div>
            
            <div>

            </div>
            <div >
                <button type="submit" value="Registrar" class="btn btn-default">
                    Registrar
                </button>
            </div>
        </div>
    </form>
    
</div>


